*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Segoe UI";
	line-height: 1.7em;
}

.clr {
	clear: both;
}

a {
	color: #333;
	text-decoration: none;
}

h1,h2,h3{
	padding-bottom: 20px;
}

p {
	margin: 10px 0;
}
.container {
	/* la nav bar occupa tutta la 
	lunghezza (riga grigia) ma
	limitiamo il contenuto all'interno
	per renderlo piu responsive */
	margin: auto;
	max-width: 1100px;
	overflow: auto;
	padding: 0 20px;
}

#navbar {
	background: #333;
	color: white;
	overflow: auto;
}

#navbar a {
	color: white;
}

#navbar h1 {
	float: left;
	padding-top: 20px;
}

#navbar ul{
	list-style: none;
	float: right;
}
#navbar ul li {
	float: left;
}
#navbar ul li a {
	display: block;
	padding: 20px;
	text-align: center;
}

#navbar ul li a:hover, #navbar 
ul li a.current {
	color: #f7c08a;
	background: #444;
}

#showcase {
	background: url('../img/showcase.jpg') no-repeat center center/cover; 
	height: 700px;

}

#showcase .showcase-content {
	color: white;
	text-align: center;
	padding-top:170px; 
}

#showcase .showcase-content h1 {
	font-size: 60px;
	line-height: 1.2em;
}

#showcase .showcase-content p {
	padding-bottom: 20px;
	line-height: 1.7em;
}


.text-primary {
	color: #f6c08a;
}

.lead {
	font-size: 20px;
}

.btn {
	display: inline-block;
	font.size: 18px;
	color: white;
	background: #333;
	padding: 13px 20px;
	border: none;
	cursor: pointer;
}
.btn-light{
	background: white;
	color: #333;
}

.bg-dark{
	background: #333;
	color: #fff;
}
.bg-light{
	background: #f4f4f4;
	color:#333;
}

.bg-primary{
	color: #333;
	background:  #f7c08a;
}
.btn:hover{
	background-color: #f6c08a;
	color: #333;
}

#home-info {
	height: 400px;
}

#home-info .info-img {
 float: left;
 width: 50%;
 background: url('../img/photo-1.jpg');
 min-height: 100%;
}

#home-info .info-content {
	float: right;
	width: 50%;
	height: 100%;
	text-align: center;
	padding: 50px 30px;
	overflow: hidden;
}

#home-info .info-content p {
	padding-bottom: 30px;
}

.box {
	float: left;
	width: 33.3%;
	padding: 50px;
	text-align: center;
}

.box i {
	margin-bottom: 10px;
}

#main-footer{
	text-align: center;
	background: #444;
	color: white;
	padding: 20px;
}

/*about */

#about-info .info-right {
	float: right;
	width: 50%;
	min-height: 100%;
}

#about-info .info-right img{
	width: 70%;
	display: block;
	margin:auto;	
	border: 1px solid #333;
}

#about-info .info-left {
	float: left;
	width: 50%;
	min-height: 100%;
}

.py-1 {
	padding: 10px 0;
}
.py-2 {
	padding: 20px 0;
}

.py-3 {
	padding: 30px 0;
}

.l-heading {
	font-size: 40px;
}

#testimonials {

	padding-top: 40px;
	background-image: url('../img/test-bg.jpg');
}
#testimonials .testimonial {
 padding-bottom: 5px;
 margin-bottom: 40px;
 border-radius: 5px;
 opacity: 0.9;
}
#testimonials .testimonial img {
	float: left;
	width: 100px;
	margin-right: 20px;
	margin-left: 10px;
	border-radius: 50%;
}

#testimonials h2 {
	padding-bottom: 40px;
	text-align: center;
	color: #fff;
}
#cotanct-form {
	margin: 10px 0;
}
#contact-form .form-group {
	margin-bottom:  20px;
}

#contact-form label {
	display: block;
	margin-bottom: 5px;
}

#contact-form input, #contact-form textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
}

#contact-form textarea {
	height: 200px;
}

#contact-form input:focus, #contact-form textarea:focus {
	outline: none;
	border-color: #f7c08a;
}







